h1{
    color:pink;
}

h2{
    color: blue;
}

h3{
    color: purple;
}
h4{
    color: red;
}
h5{
    color:yellow;
}
h6{
    color: green;
}
ul{
    background-color: gray;
}
ol{
    background-color: orange;
}
th{
    color:gold;
    background-color: brown;
}
td{
    color: darkblue;
    background-color:cyan;
}
body{
    background-color: black;
}
input{
    width: 500px;
    height: 200px;
}
label{
    color: white;
}

table{
    position: relative;
    left: 450px;
}

.H{
    background-color: blueviolet;
    position: relative;
    left:450px;
    width: 200px;
}

#leo{
    background-color: red;
}
#enzo{
    background-color: red;
}